body {
    font-family: monospace;
}

.squaretable {
    border-spacing: 0;
}

td, th {
    padding: 3px;
    margin: 0;
    text-align: center;
    line-height: 0.6;
}

td {
    font-size: 2em;
}

section {
    margin: 10px 0;
}

#time {
    font-size: 2em;
    margin-left: 1em;
}

.description {
    margin-top: 100px;
    font-size: 1.2em;
    font-family: sans-serif;
}
